main{
    width: 100%;
    height: calc(100vh - 130px);/*usando para abatero cabeçalho*/
    display: flex;
    flex-direction: column; 

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
header>img{
    width: 320px;
    height: 25px;
    margin-left: 140px;
}

#button_header--Containner {
    padding-right: 140px;
    display: flex;
    flex-direction: row;
}

#button_header--Containner > button {
    width: 142px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #0000FF;
    color: #0000FF;
    cursor: pointer;
}

#button_header--Containner > button:hover{
    background: #0000FF;
    border: 1px solid #0000FF;
    color: #FFFFFF;
}

#button_header--cadastro{
    margin-left: 15px;
}

.userDetails{
    width: calc(100% - 280px);/*usando para abatero cabeçalho*/
    margin-left: 140px;
    margin-right: 140px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 140px;
    border: 1px solid #e0e0e0;
    margin-bottom: 25px;
    
}

.userDetails>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 10px;
}
.userDetails>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
}

.companieDetails{
    width: calc(100% - 280px);/*usando para abatero cabeçalho*/
    margin-left: 140px;
    margin-right: 140px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    border: 1px solid #e0e0e0;
    background: #F8F8F8;
    height: 470px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 10px;
}